<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/output.css}">
	<title>Weather App</title>
</head>

<body class="bg-scenery font-sans">
	<div class="center-content">
		<div class="bg-black w-64 h-64 bg-opacity-25 float font-sans rounded-md border-solid">
			<div class="bg-white-900 w-64 h-20 bg-opacity-15 pl-8 pr-8 rounded-md shadow-md">
				<label for="cityInput" class="text-base font-semibold">Enter city:</label>
				<input type="text" id="cityInput" placeholder="e.g., Toronto"
					class="px-2 py-2 border rounded-md focus:outline-none focus:border-blue-500">
				<div id="citySuggestions" class="bg-white"></div>
			</div>

			<div id="weatherInfo" class="hidden bg-opacity-25 w-50 h-30 y clear-left p-1 mt-5 border-solid"></div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script th:src="@{/js/weather.js}"></script>
</body>

</html>